.git
.gitignore
.env
.env.backup
node_modules
vendor
.editorconfig
README.md
docker-compose.yml
docker-compose.override.yml
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
*.md
public/storage
.phpunit.cache
.idea
.vscode
supervisord.log
supervisord.pid
